
body {
   margin: 0;
}

#blog {
    display: flex;
    align-items: center;
    flex-direction: column;

   

    .blog-container {
        display: flex;
        width: 70%;
        max-width: 1000px;

        img {
            width: 250px;
            height: auto;
            margin-right: 20px;
         }
    
            /*-------------------MAIN BLOG----------------------*/
            
        .main-section {
           display: flex;
           width: 60%;
           flex-direction: column;
           flex-basis: 600px;
           margin-right: 15px;
            h1 {
                color: $main-color;
                font-size: 35px;  
                font-family: $secondary-font;  
                text-align: left;
                margin: 0px 0px 20px 0px;
            }
        }
        .posts {
         display: flex;
         height: 180px;
         margin-top: 15px;
        }
        .description-img {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

             h3 {
                 font-family: $main-font;
                 margin: 0 auto;
                 padding-bottom: 10px;
                 font-size: 20px;      
                 }
             .country {   
               display: flex;
               align-items: center;
                  p {
                     font-family: $secondary-font;
                     color: $secondary-color;
                     background-color: $country-background-color;
                     margin: 0;
                     padding: 10px;
                    }
                 spam {
                     font-family: $secondary-font;
                     color: $secondary-color;
                     background-color: $viewers-background-color;
                     padding: 10px;
                    }       
                }
             h6 {
                 font-family: $main-font;
                 color: $main-color;
                 margin: 0;
                }
         }
              /*-------------------ASIDE----------------------*/
        .aside-blog {
            display: flex;
            width: 40%;
            flex-direction: column;
            align-content: center;
            flex-basis: 500px;
        } 
        .intern-aside {
          border: 2px solid $main-color;
          padding: 10px 30px 30px;
            h1 {
                 font-family: $secondary-font;
                 font-size: 30px;
                 padding-bottom: 10px;
                 padding-top: 19px;
                 margin: 0;
                 text-align: left;
                 }
            img {
                 width: 100%;
                 max-width: 400px;
                 height: auto;
                 margin: 4px;
                }
            p {
                 margin: 0;
                 line-height: 1.5;
                }    
        }
    }


}

