

 #icons-social-media {
    font-size: 30px;
    padding: 5px;
    .fa-facebook-square {
        font-size: 30px;
        color: #0054a6;
        margin-right: 10px;
    }
    .fa-twitter-square {
        font-size: 30px;
        color: #007bff;
        margin-right: 10px;
    }
    .fa-youtube {
        font-size: 30px;
        color: #ed1c24;
        margin-right: 10px;
    }
    .fa-instagram {
        font-size: 30px;
        color: #8c6239;
        margin-right: 10px;
    }
    .fa-basketball-ball {
        font-size: 30px;
        color: #39b44a;
        margin-right: 10px;
    }
    .fa-pinterest-square {
        font-size: 30px;
        color: #ed145a;
        margin-right: 10px;
    }

}