

/*colores*/
$main-color: #d4d4d4;
$secondary-color: #ffffff;
$third-color: #000000;
$main-hover-color: #fce000; 
$secondary-hover-color: #007bff; 

/*colores de fondo*/
$submit-background-color: #0062cc;
$country-background-color: #00aeef;
$viewers-background-color: #363636;

/*tipografias*/

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;


